
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Helper Functions
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }
    
    match /users/{userId} {
      allow read: if isSignedIn();
      allow write: if isOwner(userId);
    }
    
    match /bookListings/{bookListingId} {
      allow read: if isSignedIn();
      allow create: if isSignedIn() && request.resource.data.sellerId == request.auth.uid;
      allow update, delete: if isSignedIn() && resource.data.sellerId == request.auth.uid;
    }

    match /bookListings/{bookListingId}/messages/{messageId} {
        allow read, write: if isSignedIn();
    }
    
    match /transactions/{transactionId} {
        allow read, write: if isSignedIn();
    }
  }
}
